<!--主机信息模板，用于企业微信中提供范例-->
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>样例主机信息</title>
</head>
<body>
主机名称: zbxserver1.local<br>主机别名: zbxserver1.local<br>接口地址:  127.0.0.1,<br>主机组:  Zabbix servers,<br>OS: Linux zbxserver1.local 3.10.0-862.el7.x86_64 #1 S<br>OS_FULL: <br>OS_SHORT: Linux<br>资产标签: <br>主负责人: 待下架<br>次负责人: <br>机架: <br>子网掩码: <br>主机网络: 127.0.0.1<br>机房: <br>机柜: W2-Badsa09<br>序列号一: 这里填写序列号<br>序列号二: <br>MACASD_A: <br>MAC_B: <br>硬件架构: <br>标签: <br>类型: 机架服务器<br>具体类型: 类型信息<br>型号: <br>供应商: <br>@timestamp: 2020-10-19T17:00:06.099608<br>
</body>
</html>
